
.foot{
    background-color: black;

}
.foot-one{
    display: flex;
    justify-content: center;
    padding: 12px;
}
.foot-two {
    list-style-type: none;
    margin: 0 1rem;
}
.foot-two a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 1rem;
}